<li class="dropdown">
<a  href="#"
    class="dropdown-toggle <%= current_user.messages.size.zero? ? 'inactive' : 'active' %>"
    data-toggle="dropdown">
    <i class="icon-envelope"></i>
    <small><%= current_user.messages.size %></small>
</a>
<ul class="dropdown-menu dropdown-notifications" style="width:400px">

  <li class="nav-header">unread messages       <%= link_to icon_text('envelope', 'Send a message'),
                    "#message_modal",
                    style: 'float:right;',
                    data: {toggle: 'modal'} %>
                    </li>


</ul>
</li>

