 <%= render '/admin/admin_menu', posts: @posts %>
<table data-source="<%= datatable_filter_topics_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>