<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="admin">Statistics</a></li>
      <li><a href="entities">Schools</a></li>
      <li class="active"><a href="topics">Topics</a></li>
      <li><a href="users">Users</a></li>
    </ul>
  </div>
</div>
<table data-source="<%= topics_url(format: :json) %>">
	<thead>
  <tr>
    <th>Entity</th>
    <th>Title</th>
    <th>Number</th>
    <th>Name</th>
    <th>Slug</th>
    <th>Self-Joining</th>
    <th>edit</th>
    <th></th>
  </tr>


 </thead>
  <tbody>
  </tbody>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
