%h3= "Welcome to EduMesh"
%p Please, click on the following link to confirm your school email and finish the registration process 
%p= link_to @link, @link
%p and get information to prepare for your exams
%p Regards,
%p Minds Mesh Team