<li class="dropdown">
<a  href="#"
    class="dropdown-toggle <%= current_user.notifications.unread.size.zero? ? 'inactive' : 'active' %>"
    data-toggle="dropdown">
    <i class="icon-bell"></i>
    <small><%= current_user.notifications.unread.size %></small>
</a>
<ul class="dropdown-menu dropdown-notifications">

  <li class="nav-header">unread notifications</li>
  <%= render current_user.notifications.unread.limit(4) %>
  <li class="divider"></li>
  <li class="nav-header">read notifications</li>
  <%= render current_user.notifications.read.limit(6) %>

</ul>
</li>