<div class="page-header">
  <h1>Listing Users</h1>
</div>

<table data-source="<%= users_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Creation</th>
      <th>Entities</th>
      <th>Topics</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>