<%= image_tag @user.photo_url, width: 100 if @posts.blank? %>


<%= render '/posts/posts', posts: @posts %>



<% content_for :pageheader do %>
<div class="page-header">
  <h3><%= @user.name %></h3>
</div>
<% end %>

<% content_for :sidebar do %>

<div class="well blue-well">

  <ul class="nav nav-list">
    <li class="nav-header">
      topics
    </li>
    <% @topic_users.each do |topic_user| %>
      <% topic = topic_user.topic %>
      <%= li link_to(icon_text('book', topic.name), topic) %>
    <% end %>
  </ul>
</div>
<% end %>