<div class="page-header">
  <h1>Home#student</h1>
</div>

<div class="main_feed clearfix">
  <div class="feed form">
    <div class="head">
      <h1>Question or Comment</h1>
      <select class="select class">
        <option value="chem">Calc III</option>
      </select>
      <select class="select section">
        <option>Section 1</option>
      </select>
    </div>
    <div class="input">
      <textarea name="comment"></textarea>  
      <button class="button">Post</button>    
    </div>
  </div>

  <div class="feed">
    <div class="head">
      <h1>News Feed</h1>
      <button>Viewing: All</button>
    </div>
    <% if current_user.posts_feed.any? %>
      <%= render current_user.posts_feed %>
    <% end %>
  </div>
</div>


<script type="text/javascript">

$(function() {
  $('.actions a').click(function(){
    $(this).toggleClass('active');
    if($(this).hasClass('comment_button')){
      $(this).parents('.item').find('.comments').toggle();
    }
  });

  $('.form textarea').focus(function(){
    $(this).siblings('button').slideDown(100);
  }).blur(function(){
    $(this).siblings('button').slideUp(100);
  });

  var killScroll = false; 
  $(window).scroll(function(){ 
    if  ($(window).scrollTop()+200 >= ($(document).height() - ($(window).height()))){ 
      if (killScroll == false) { 
              killScroll = true; // IMPORTANT - Set killScroll to true, to make sure we do not trigger this code again before it's done running.
            //alert('LOAD SOME NEW STUFF');

              killScroll = false; //IMPORTANT, SET THIS TO FALSE WHEN NEW CONTENT IS DONE LOADING
      }
    }
  });
});
</script>

<% content_for :sidebar do %>
<section>
  <h2>My Sections</h2>
  <div>
    <ul>
      <% current_user.section_users.each do |section_user| %>
        <% section = section_user.section %>
        <li><%= link_to section.course.name, section, title: section.name, rel: 'tooltip', class: 'roman-icon' %></li>
      <% end %>
    </ul>
  </div>
</section>

<section>
  <h2>All Sections</h2>
  <div>
    <ul>
      <% Section.all.each do |section| %>
        <li><%= link_to section.course.name, section, title: section.name, rel: 'tooltip', class: 'roman-icon' %></li>
      <% end %>
    </ul>
  </div>
</section>
<% end %>