- content_for :full do
  #entity-email
    = form_for @entity_user_request, url: home_user_create_eur_path, remote: true do |f|
      = f.hidden_field :entity_id
      = f.text_field :email, placeholder: "joe@uncc.edu"
      = submit_tag '', id: 'entity_user_request_submit'

  .modal{style: 'display: none'}
    .modal-header
      %button.close{data: {dismiss: "modal"}}
        ×
      %h3 MindsMesh.com
    .modal-body
      %h2
    .modal-footer
      %a.btn.btn-primary{href: "#", data: {dismiss: "modal"}}
        Yes, I understand