#entity-email
  = form_tag home_user_create_eur_path, remote: true do |f|
    = text_field_tag :email, '', placeholder: "joe@uncc.edu"
    = submit_tag '', id: 'submit'

.modal{style: 'display: none'}
  .modal-header
    %button.close{data: {dismiss: "modal"}}
      ×
    %h3 MindsMesh.com
  .modal-body
    %h2
  .modal-footer
    %a.btn.btn-primary{href: "#", data: {dismiss: "modal"}}
      Yes, I understand