<h1>Campaign created</h1>


<div style="padding:12px;margin:18px;background-color:#fff;">

    <%= @emails_sent %> has been sent. Please view historic for details.
    
</div>

<%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %>
