<div id="admincontainer">
    <div class="headline3">Editing Campaign</div>

    <h2><%= @admin_campaign.newsletter.title %></h2>
    <div style="margin:10px;padding:7px;">
       <%= render 'form' %>
    </div>

    <br />
    <div style="text-align:left;">
          <%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %>
    </div>
</div>
