  <div id="homepagesplit" class="container">
  	<h1 style="color: white;">Take a product tour</h1>
  	</div>
  <div id="features">
    <div id="featurediv">
  	<div class="container fix-sections">
  		<div  class="row">
 		<div class="span1"></div>
		<div class="span5">
			 	<h2>Private social network</h2>
			 	<br/>
			 	<p>MindsMesh is a complete social network for campus communications.  Students can form study groups, communicate with their classmates and professors, and user rich media such as video in order to communicate the way people are used too.  Users can also form their own relationship in a follower style model, send private messages and do group and event functionality.  </p>
 		</div>
 		<div class="span5">
 			<a
     data-target="flare"
     href="/assets/MindsMesh-1.png"
     data-flare-scale="fit"
     >
 			<img src="/assets/MindsMesh-1.png"/>
 			</a>
 		</div>
 		<div class="span1"></div>
 	</div>

  	</div>
  </div>
   <div id="featurediv">
  	<div class="container fix-sections">
  		<div  class="row">
		<div class="span6 ">
			<img class='pull-right' src="/assets/ipad-photo-4.png" width="400"/>
 		</div>
 		<div class="span4">
 			<h2>Mobile done right</h2>
 			<br/>
			<p>Today's students are increasingly mobile first, and yet most educational technology offers completely substandard solutions in this area.  MindsMesh gives your school native mobiles apps for your schools to build a mobile presence with.  These apps are fully integrated into the LMS, Social network and are branded custom for your schools needs.</p>
 			<br/>
 			<div style="width:250px;margin-left: 60px; line-height: 200px;">
 			<%= link_to image_tag('appstore.png'), 'https://itunes.apple.com/us/app/mindsmesh/id595862148?mt=8' %>
 		   </div>
 		</div>
 		<div class="span2"></div>
 	</div>

  	</div>
  	</div>
  	  <div id="featurediv">
  	<div class="container fix-sections">
  		<div  class="row">
  		<div class="span2"></div>
		<div class="span4">
			  <h2>Learning Management System Integration</h2>
			  <br/>
			  <p class='pull-right' >A learning management system is the glue that holds most univiersities teaching infrastructure together.  The LMS hold all the goodness that professors deliver in their class each day, and students are used to it.  MindsMesh leverages your existing LMS Infrastructure to deliver its content to our social and mobile platforms for enhanced usage by students and faculty.</p>
 			
 		</div>
 		<div class="span6">
 			<img src="/assets/MindsMeshiPhone.png"/>
 		</div>
 	</div>

  	</div>
  	
  </div>
     <div id="featurediv">
  	<div class="container fix-sections">
  		<div  class="row">
		<div class="span6 ">
			<img class='pull-right' src="/assets/iStock-charts.jpg" width="268"/>
 		</div>
 		<div class="span4">
 			<h2>Real-Time notifications</h2>
 			<br/>
			<p>These days students are more likely to check their social networks and mobile notifications, far before checking their email.  This turns campus faculty into the email police and leaves students wanting more.  MindsMesh provides a robust notifications system that engages the student where they want to be engaged, be it mobile device, Facebook, or in their email.</p>
 			<br/>
 			<div style="width:250px;margin-left: 60px; line-height: 200px;">
 			<%= link_to image_tag('appstore.png'), 'https://itunes.apple.com/us/app/mindsmesh/id595862148?mt=8' %>
 		   </div>
 		</div>
 		<div class="span2"></div>
 	</div>

  	</div>
  	</div>
  	
  	<div id="featurediv">
    		<div class="container fix-sections">
    		<h2>Contact us below to get started!</h2>
    		<br/>
    			<div class="row">
		<div class="span3">
    		    	<%= image_tag('Occupations-Technical-Support-Representative-Female-Light-icon.png', class: 'pull-right') %>
    		    	</div>
    		    	<div class="span3">
    		    		<p style="padding-top:20px">Phone: 980-333-8415</p><p> Email: contact@mindsmesh.com</p>
    		    	</div>
    		    	<div class="span1">
    		    		<h2 style="padding-top:30px">OR </h2>
    		    	</div>
    		    	<div class="span3">
    		    		<h3>Try a basic demo!</h3>
    		    		<%= link_to icon_text('check','Sign up'),
                '#signup_modal',
                style: 'font-size: 30px;',
                class: 'btn btn-large btn-success input-block-level',
                data: {toggle: 'modal'}  %>
    		    	</div>
    		    </div>
    	</div>
    	</div>
  	
  </div>
  </div>