%h3= "Hi #{@user.name}, Welcome to MindsMesh"
%p Please, click on the following link to
%p= link_to "confirm your school email", home_confirm_entity_request_url(@token, host: @host)
%p and get information to prepare for your exams