%h3= "Hi #{@user.name}, Welcome to MindsMesh"
%p Please, click on the following link to confirm your school email and
%p= link_to "get information to prepare for your exams", home_user_entity_url(@token, host: @host)