// Place all the styles related to the Hashtags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//  @import "../bootstrap-custom";

// @import "twitter/bootstrap/bootstrap";

$color:"#ffff";
  
.maindiv {
    color:$color;
 }
   

$iconSpritePath: '';
$iconWhiteSpritePath: '';
$errorText: 'orange';
$white: rgb(255,255,255);
$grayDark:  rgb(224,224,224);
$infoText: rgb(1,64,5);
$linkColor: rgb(12,64,5);
$dark-green: #074132;

// @import "bootstrap";
//@import "bootstrap";
// @import "font-awesome";

  

