<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @notification_settings_time.description %>
</p>


<%= link_to 'Edit', edit_notification_settings_time_path(@notification_settings_time) %> |
<%= link_to 'Back', notification_settings_times_path %>
