<p>
  <b>Topic:</b>
  <%= @topic_user.topic %>
</p>

<p>
  <b>User:</b>
  <%= @topic_user.user %>
</p>



<%= link_to 'Edit', edit_topic_user_path(@topic_user) %> |
<%= link_to 'Back', topic_users_path %>
