
$green: #46a546;
$dark-green: #074132;
$yellow: #ffc40d;

table { width: 100%; }
th, td { vertical-align: top; }

body { background: #ECFAFF; }

.wrap {
  height: auto;
  min-height: 100%;
  width: 1024px;
  margin: 0 auto;
}

//tablecontent
#tablecontent {  }

#sidebar_right { padding-left: 20px; }
#sidebar_left  { padding-right: 20px; }

.sidebar_content { display: none; }
#sidebar_right {
  width: 280px;
}
#sidebar_left {
  width: 180px;
  background:#fff;
  border-top: 1px solid #EEE;
  padding-top: 20px;
  .nav-list { width: 100%; }
}

#main .message {
  background: white;
  border: #EEE solid 1px;
  border-width: 1px 1px 0 1px;
  padding: 20px;
}
#main section { border-color: #EEE;margin-bottom:0; }


//.navbar
.navbar .nav {
  #logo { padding: 0px !important;margin-left:-40px; }

  #myaccount {
    padding-left:40px;
    .circle {
      position:absolute;left:7px;top:7px;
      &, img { border-radius: 16px;clear:none;float:left;margin-right: 3px; }
    }
    
  }
}


//header1

body.header_big {
  padding: 0 !important;
  header {
    margin-bottom: 20px;
    position:relative;
    height: 192px;
    .nav-pills {
      margin-top:20px;
    }
  }
  #header-bg {
    width: 100%;
    position:absolute;
    height: 192px;
    background: asset-url('template2/header_bg.png', image);
  }
  #header-logo {
    display:block;
    position:absolute;
    width:449px;height: 192px;
    left:-70px;top:0px;
    z-index:10;
    background: asset-url('template2/header.png', image) no-repeat;
  }
  #logo-big {
    display:block;
    position:absolute;
    width:180px;height:30px;
    left:20px;top:20px;
    z-index:10;
  }
}

//landing
#landing {
	margin-top: 100px;
	height:400px;
	background: asset-url('template2/landing.png', image) no-repeat;
	position: relative;
}
#login_facebook {
	display:block;
	position:absolute;
	width:330px;height:60px;
	left:40px;top: 330px;
}

//entity-email
#entity-email {
	margin: 10px auto 0;
	width:745px;height:400px;
	background: asset-url('template2/entity_email.png', image) no-repeat;
	position: relative;
  #email {
    border:none !important;
    box-shadow: none;
    position:absolute;
    width:160px;height:20px;
    left:260px;top: 315px;
    line-height:18px;
    font-size:16px;
  }
  #submit {
    border:none !important;
    box-shadow: none;
    position:absolute;
    background: none;
    width:45px;height:45px;
    left:440px;top: 310px;
    line-height:18px;
    font-size:16px;
  }
}

//footer
footer {
  clear: both;
  .container {
    margin-top: 60px;
    border-top: 1px solid #dbdbdb;
    width: 100%;
    line-height: 60px;
    font-size: 12px;
  }
  a {
    display: inline-block;
    padding: 0 10px;
    color: #666;
    text-decoration: none;
  }
  .info {
    float: right;
    color: #888;
  }

}



//well
.well {
  padding: 10px 0;
  .nav-list {
    li {
      line-height:30px;
      font-size:12px;
      &.nav-header { font-size:16px; }
      a {
        .circle, img { border-radius: 30px; }
        i { font-size:16px; }
      }
    }
  }
  position: relative;
  select#topic_user_id {
    position: absolute;
    right: 15px;
    top:   10px;
    width: 250px;
    border: 1px solid #dbdbdb;
    &, option {
      background: #fff;
      color: #666;
      font-size: 16px;
    }
  }
}

//form#new_post
#new_post_well {
  background-color: #EEE;
  border-radius: 0 8px 0 0;
  border: 1px solid #EEE;
  border-width: 0 1px 1px 0;
  box-shadow: none;
  border-top-width: 1px;
  margin: 0;
  padding: 15px 0;
}

#new_post {
  margin: 0 0 0 0;

  textarea {
    width: 100%;
    padding: 10px;
    color: #aaa;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */

    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */

    box-sizing: border-box;
    /* Opera/IE 8+ */

    font-size: 16px;
    border: 1px solid #dbdbdb;
    resize: vertical;
    height: 40px;
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $green;
    }
    &.long {
      height: 150px;
    }
  }
  .btn {
    float:right;
  }

}

//sidebar
.sidebar {
  .input-block-level {
    margin-bottom:20px;
  }
}

