
$green: #46a546;
$dark-green: #074132;
$yellow: #ffc40d;

table { width: 100%; }
th, td { vertical-align: top; }

body { background: #ECFAFF; }

.wrap {
  height: auto;
  min-height: 100%;
  width: 1024px;
  margin: 0 auto;
}

//tablecontent
#tablecontent {  }

#sidebar_right { padding-left: 20px; }
#sidebar_left  { padding-right: 20px; }

.sidebar_content { display: none; }
.sidebar {
  width: 280px;
}

//header

body {
  
  header {
    margin-bottom: 20px;
    position:relative;
  }
  #header-bg {
    width: 100%;
    position:absolute;
  }
  #header-logo {
    display:block;
    position:absolute;
  }
  #logo {
    display:block;
    position:absolute;
  }
}

body.header_big {
  
  header {
    height: 192px;
    .nav-pills {
      margin-top:20px;
    }
  }
  #header-bg {
    height: 192px;
    background: asset-url('template2/header_bg.png', image);
  }
  #header-logo {
    width:449px;height: 192px;
    left:-70px;top:0px;
    z-index:10;
    background: asset-url('template2/header.png', image) no-repeat;
  }
  #logo {
    width:180px;height:30px;
    left:20px;top:20px;
    z-index:10;
  }
}

body.header_small {
  
  header {
    height: 38px;
    .nav-pills {
      margin-top:5px;
    }
  }
  #header-bg {
    height: 38px;
    background: $green;
  }
  #header-logo {
    width:220px;height: 38px;
    left:-40px;top:0px;
    z-index:10;
    background: asset-url('template2/header_small.png', image) no-repeat;
  }
  #logo {
    width:140px;height:38px;
    left:0px;top:0px;
    z-index:10;
  }
}

header {
	.nav-pills {
		float:right;
		li {
			a.pill {
				border-radius:10px;
				padding: 4px 12px;
				margin-left: 10px;
				font-size:13px;
				font-weight:bold;
				background: $green;
				color: #fff;
				b { color: #fff; }
			}
			a.pill:hover,
			&.active a.pill,
			&.open a.pill         { background: $dark-green; }
			&.active a.pill:hover { background: #000; }
		}
	}
	ul.dropdown-menu {
		left: auto;
		right: 0;
		width:220px;
    color: #333;
    &::after {
      position: absolute;
      top: -6px;
      right: 15px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      border-left: 6px solid transparent;
      content: '';
    }
    .profile {
      padding-right: 15px;
      margin-top: 5px;
      margin-right: 0;
      line-height: 20px;
      .circle, img { border-radius: 40px; }
      img { float:left;margin-right:20px; }
      b { color: #333; }
      small { display: block;font-size: 11px; }
    }
    a:hover {
      b, small { color: #fff; }
    }
    &.dropdown-notifications {
      font-size: 10px;

      .content {
        margin: 12px 0 3px;
        line-height: 15px;
        white-space: normal;
        position: relative;
        small { position: absolute; top: -12px; right: 0;font-size:8px;font-family: verdana;font-weight: bold }
      }
    }
	}
}

//landing
#landing {
	margin-top: 100px;
	height:400px;
	background: asset-url('template2/landing.png', image) no-repeat;
	position: relative;
}
#login_facebook {
	display:block;
	position:absolute;
	width:330px;height:60px;
	left:40px;top: 330px;
}

//entity-email
#entity-email {
	margin: 10px auto 0;
	width:745px;height:400px;
	background: asset-url('template2/entity_email.png', image) no-repeat;
	position: relative;
  #email {
    border:none !important;
    box-shadow: none;
    position:absolute;
    width:160px;height:20px;
    left:260px;top: 315px;
    line-height:18px;
    font-size:16px;
  }
  #submit {
    border:none !important;
    box-shadow: none;
    position:absolute;
    background: none;
    width:45px;height:45px;
    left:440px;top: 310px;
    line-height:18px;
    font-size:16px;
  }
}

//footer
footer {
  clear: both;
  .inner {
    margin-top: 60px;
    border-top: 1px solid #dbdbdb;
    width: 100%;
    line-height: 60px;
    font-size: 12px;
  }
  a {
    display: inline-block;
    padding: 0 10px;
    color: #666;
    text-decoration: none;
  }
  .info {
    float: right;
    color: #888;
  }

}

//well
.well {
  padding: 10px 0;
  .nav-list {
    li {
      line-height:30px;
      font-size:12px;
      &.nav-header { font-size:20px; }
      a {
        .circle, img { border-radius: 30px; }
        i { font-size:16px; }
      }
    }
  }
  position: relative;
  select#topic_user_id {
    position: absolute;
    right: 15px;
    top:   10px;
    width: 250px;
    border: 1px solid #dbdbdb;
    &, option {
      background: #fff;
      color: #666;
      font-size: 16px;
    }
  }
}

//form#new_post
#new_post {
  margin: 0 0 0 0;

  textarea {
    width: 100%;
    padding: 10px;
    color: #aaa;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */

    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */

    box-sizing: border-box;
    /* Opera/IE 8+ */

    font-size: 16px;
    border: 1px solid #dbdbdb;
    resize: vertical;
    height: 40px;
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $green;
    }
    &.long {
      height: 150px;
    }
  }
  .btn {
    float:right;
  }

}

//sidebar
.sidebar {
  .input-block-level {
    margin-bottom:20px;
  }
}

