
$green: #46a546;
$dark-green: #074132;
$yellow: #ffc40d;

table { width: 100%; }
th, td { vertical-align: top; }

body { background: #ECFAFF; }

#guestlogin { padding-top: 0px; background: #45474d; }

.wrap {
  height: auto;
  min-height: 100%;
  width: 1024px;
  margin: -20px auto 0;
}

#button_create_topic {
  display:none;
}

//tablecontent
#tablecontent {
}

#main {
  min-height:600px;
  height:600px;
}
#main_index {
  background:#fff;
}

#sidebar_right { padding-left: 0px; }
#sidebar_left  { padding-right: 20px; }

.sidebar_content { display: none; }
#sidebar_right {
  width: 280px;
  background:#fff;
  border-left: 1px solid #EEE;
}
#sidebar_left {
  width: 180px;
  background:#eee;
  border-right: 1px solid #EEE;
  padding-top: 20px;
  .nav-list { width: 100%; }
}

#main .message {
  background: white;
  border: #EEE solid 1px;
  border-width: 1px 1px 0 1px;
  padding: 20px;
}


//.navbar
.navbar .nav {
  #logo { padding: 0px !important; }

  #myaccount {
    padding-left:50px;
    img {
      position:absolute;left:2px;top:2px;width:34px;height:34px;
    }
    
  }
}


//header1

body.header_big {
  padding: 0 !important;
  header {
    margin-bottom: 20px;
    position:relative;
    height: 192px;
    .nav-pills {
      margin-top:20px;
    }
  }
  #header-bg {
    width: 100%;
    position:absolute;
    height: 192px;
    background: asset-url('template2/header_bg.png', image);
  }
  #header-logo {
    display:block;
    position:absolute;
    width:449px;height: 192px;
    left:-70px;top:0px;
    z-index:10;
    background: asset-url('template2/header.png', image) no-repeat;
  }
  #logo-big {
    display:block;
    position:absolute;
    width:180px;height:30px;
    left:20px;top:20px;
    z-index:10;
  }
}

//landing
#landing {
	margin-top: 100px;
	height:430px;
	background: asset-url('template2/landing.png', image) no-repeat;
	position: relative;
  #login_facebook {
    display:block;
    position:absolute;
    width:330px;height:60px;
    left:40px;top: 330px;
  }
  .fb-like {
    position:absolute;
    left:40px;top: 400px;
    width:10px;height:10px;
  }
}

//entity-email
#entity-email {
	margin: 10px auto 0;
	width:745px;height:400px;
	background: asset-url('template2/entity_email.png', image) no-repeat;
	position: relative;
  #email {
    border:none !important;
    box-shadow: none;
    position:absolute;
    width:160px;height:20px;
    left:260px;top: 315px;
    line-height:18px;
    font-size:16px;
  }
  #submit {
    border:none !important;
    box-shadow: none;
    position:absolute;
    background: none;
    width:45px;height:45px;
    left:440px;top: 310px;
    line-height:18px;
    font-size:16px;
  }
}

#featurediv {
  clear: both;
    width: 100%;
    background-color: white;
  
}

.fix-sections {
    border-bottom: 1px solid #dbdbdb;
   h2{
     text-align: center;
     width: 100%;
   }
  p{
     text-align: center;
     font-size: 18px;
     width: 100%;
     line-height: 30px;
   }
  
}

#homepagesplit {
  clear: both;
  margin-top: 40px;
  margin-bottom: 50px;
}

#try-button{float:right;display:block;width:110px;height:32px;margin-top:20px;padding:0 20px;line-height:32px;background:#4d5057;border-radius:16px 16px 16px 16px;color:#fff;font-size:16px;text-align:center;-webkit-transition:all 0.9s ease-out;-moz-transition:all 0.9s ease-out;-ms-transition:all 0.3s ease-out;-o-transition:all 0.9s ease-out;transition:all 0.9s ease-out}

#try-button:hover{text-decoration:none;background:#53575e}
//footer
footer {
  clear: both;
  .container {

    width: 100%;
    line-height: 60px;
    font-size: 14px;
  }
  a {
    display: inline-block;
    padding: 0 10px;
    color: #989ea6;
    text-decoration: none;
  }
  .info {
    float: right;
    color: #989ea6;
  }

}


//zero topics

#main #zero_topics {
  width:720px;
  height:172px;
  margin: 0 auto;
  background: asset-url('template2/zero_topics.png', image) no-repeat;
}


//well
.well {
  padding: 10px 0;
  .nav-list {
    li {
      line-height:30px;
      font-size:12px;
      &.nav-header { font-size:16px; }
      a {
        .circle, img { border-radius: 30px; }
        i { font-size:16px; }
      }
    }
  }

  /*
  position: relative;
  select#topic_user_id {
    position: absolute;
    right: 15px;
    top:   10px;
    width: 250px;
    border: 1px solid #dbdbdb;
    &, option {
      background: #fff;
      color: #666;
      font-size: 16px;
    }
  }
  */
}

//form#new_post
#main_div {
  background-color: #fff;
  height: 100%;
  
  h2 {
    text-align: center;
    width: 100%;
    color: $green;
    font-size: 24px;
  }
  
}
#new_post_wrapper {
  background-color: #fff;
  border: 1px solid #EEE;
  border-width: 1px 1px 2px 0;
  box-shadow: none;
  margin: 0;
  padding: 15px;

  .title {
    text-align: center;
    color: $green;
    margin-bottom:0;
    padding-bottom:0;
  }
}

#new_post {
  margin: 0 0 0 0;

  .files {
    text-align: right; margin: 20px 0;
    p {
      background: #efefef;
      padding: 5px;
      margin-right: -3px;
      margin-bottom: 0px;
      border-top: #e1e1e1 solid 1px;
      a {
        text-align:right;
        margin: 0 5px 0 20px;
      }
    }
  }

  textarea {
    width: 100%;
    padding: 10px;
    color: #aaa;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */

    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */

    box-sizing: border-box;
    /* Opera/IE 8+ */

    margin:15px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: none;
    height: 40px;
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $green;
    }
    &.long {
      height: 150px;
    }
  }
  #new_post_create {
    float:right;
    width:150px;
  }
  #new_post_modal {
    width: 350px;
    .modal-body {
      max-height: 200px;
      overflow-y:scroll;
      .btn { margin-bottom: 15px; }
    }

  }

}

body.new_post_exposed {
  
  background-color: #fff;

  #posts,
  .sidebar,
  .navbar-fixed-top {
    opacity: 0.5;
  }
  #new_post_wrapper {
    border: $green solid 2px !important;
  }
}







#posts {
  border: #EEE solid 1px;
  background:#fff;
  
  a.more {
    display:block;border-radius: 0;
  }
}






#topics_filter {
  background:#fff;

  .title {
    background:#efefef;padding: 10px;
    h1 { font-size: 11px;font-weight: bold;line-height: 18px; }
  }

  .btn { border-radius: 0px; }
  strong { margin:10px;text-align:center;display:block; }

  .topics {
    .btn {
      text-align:left;
      i.icon-sign-blank { color: #fff; }
      &:not(:hover) {
        background-image:none;
        background-color:#fff;
      }
    }
  }

  .css-show-on-filter { display: none; }
  .css-hide-on-filter { display: block; }
  &.js-filter-on {
    .css-show-on-filter { display: block; }
    .css-hide-on-filter { display: none; }
  }
}


#fb_friends_modal {
  h2 {
    color: $green;
    font-size: 24px;
    text-align: center;
  }
  p {
    color: #666A72;
    font-size: 16px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 38px;
  }
}

#sidebar_invites_suggestion {
  h4 { color: #46A546; }
  .thumbs img { border: #ddd solid 1px;margin-bottom: 3px; }
}


.dataTables_wrapper {
  background:#fff;
  border:#ddd solid 1px;
  table {
    border:#ddd solid 0;
    border-width: 1px 0;padding: 20px;
  }
  .row-fluid .span6 {
    padding:10px;
  }
}

#master_assign_entity_modal {
  form { margin: 0; }
  .control-group-user-field {
    width: 370px;
    padding: 5px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    img { border: #ddd solid 1px; }
    span { font-size: 18px;vertical-align:top; }
  }
}

form#new_invite_request {
  textarea { height:100px; }
  .actions .btn { width: 100%; }
}