.clear { clear:both; }
.float-right { float: right; }

$green: #46a546;
$yellow: #ffc40d;

a {
  color: #666;
  &:hover { color: $green; }
}

span.best_in_place {
  display: block;
}




.post {
  min-height: 70px;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
  padding: 15px 0;
  padding-left: 100px;
  padding-right: 15px;
  color: #646464;
  line-height: 1.4em;
  .post-title a {
    text-decoration: none;color: $green;
    &:hover { text-decoration: underline; }
  }
  h3 i {
    font-size: 13px;
  }
  p {
    font-size:13px;
    line-height:13px;
    text-align: justify;
    i {
      font-size:13px;
    }
  }
  em {
    text-align:right;
    display:block;
    font-size:11px;
    line-height:11px;
  }
  .actions {
    margin-bottom:10px;
    .group-left  { float:left;font-size:11px;line-height:11px;font-style: italic; }
    .group-right {
      float:right; 
      a {
        font-size:14px;
        color: gray;
        i { font-size:18px; }
        &:hover { color: #000; }
      }
    }
  }



  .replies {
    margin: 0px;
    border: 1px solid #dbdbdb;
    position: relative;
    .reply {
      padding: 12px 5px 5px 40px;

      font-size: 14px;
      border-bottom: 1px dashed #dbdbdb;
      position: relative;
      min-height: 20px;
      line-height: 20px;

      &:last-child {
        border: none;
      }

      p {
        i {
          font-size:12px;
        }
      }

      .image {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 5px;
        left: 5px;
        border: 1px solid #dbdbdb;
        -moz-border-radius: 64px;
        border-radius: 64px;
        img {
          -moz-border-radius: 30px;
          border-radius: 30px;
          width: 30px;
          height: 30px;
        }
      }

    }
  }

  form.new_reply {

    margin-bottom: 0;
    textarea {
      width: 100%;
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */

      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */

      box-sizing: border-box;
      border: 1px solid #dbdbdb;
      border-radius: 0;
      padding: 5px;
      margin: 0;
      font-size: 14px;
      color: #646464;
      resize: vertical;
      height: 50px;
      line-height: 25px;
      &:focus {
        box-shadow: none;
        outline: none;
        border-color: #95C557;
      }
      &.long {
        height: 120px;
      }
    }
  }
}









.post a {
  font-weight: 800;
}

.post:last-child {
  border: none;
}

.post .image {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 15px;
  left: 15px;
  border: 3px solid #dbdbdb;
  -moz-border-radius: 64px;
  border-radius: 64px;
}
.post .image img {
  -moz-border-radius: 64px;
  border-radius: 64px;
}
.post .quote {
  font-size: 14px;
  line-height: 16px;
  color: #AAA;
  padding-left: 10px;
}
.post .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #bababa;
}



.post .comments .comment.correct {
  background: #ddecc9;
  border: 2px solid $green;
}
.post .comments .comment .actions {
  margin-top: 5px;
  height: 16px;
}




#posts a.more {
  display:block;border-radius: 0;
}



section {
  background: #fff;
  border: 1px solid #dbdbdb;
  margin-bottom: 30px;
}

#main {
  width: 720px;
  float: left;
}
#sidebar {
  width: 280px;
  float: right;
  /*TODO: remove section*/
  section {
    background: #faf4e1;
    border: 1px solid #e6cc7e;
    margin-bottom: 30px;
    position: relative;

    &.questionnaire {
      background: #333;
      color: #fff;
      padding: 0 10px;
      border-radius: 4px;
      .field {
        padding: 10px 0;
        border-bottom: #fff solid 2px;
        &:last-child { border-bottom: none; }
        textarea:focus{ border-color: $yellow; }
      }
    }

    &.block {
      border: none;
      background: none;
      .btn-large {
        display: block;
      }
    }
    h1 {
      display: block;
      background: #aaa;
      padding: 10px;
      color: #b7993f;
    }
    h2 {
      display: block;
      background: #eee4c2;
      padding: 5px 10px;
      color: #b7993f;
    }
  }
}
