.clear { clear:both; }
.float-right { float: right; }

$green: #46a546;

a {
  color: #666;
  &:hover { color: $green; }
}

span.best_in_place {
  display: block;
}



.messages {
  
    .names {
      float: left;
      padding: 1px 1px 1px 1px;
      margin-left: 3px;
      margin-bottom: 3px;
      background-color: #E0F2F7;
      height: 22px;
      border: 1px solid #A9E2F3;
 
    }
.reply_modal {
    width: 1000px;
    margin-left: -500px;
    form { margin: 0; }
    .modal-header h3 { color: $green; }
    .question_area {
      margin-bottom: 15px;
      position:relative;
      img {
        position:absolute;
      }
      .clear { 
        padding-left: 60px;
        min-height:60px;
        a { font-weight:bold;color:$green; }
      }

    }
 .answer_area {
      margin: 10px 0 0;
      position:relative;
      img {
        position:absolute;
      }

      p { 
        padding-left: 60px;
      }

      textarea {
        width: 100%;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */

        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */

        box-sizing: border-box;
        border: 1px solid #dbdbdb;
        border-radius: 0;
        padding: 5px;
        margin: 0;

        line-height: 16px;
        font-size: 14px;

        color: #646464;
        resize: none;
        height: 250px;
        &:focus {
          box-shadow: none;
          outline: none;
          border-color: #95C557;
        }
      }
    }
  }
}
.post:not(.hover) .post_right .caret-down-holder {
  display: none;
}
.reply:not(.hover) .caret-down-holder {
  display: none;
}
.follow_rec {
  border-bottom: 1px solid #eee;

  
    h5 {
    font-size:13px;
    i {
      font-size: 11px;
    }
    a {
      text-decoration: none;color: $green;
      &:hover { text-decoration: underline; }
    }
  }

}


.post {
  border-bottom: 1px solid #808080;
  position: relative;
  padding: 10px 0;
  padding-left: 130px;
  padding-right: 60px;
  color: #666;
  line-height: 1.4em;
  min-height: 110px;
  
  .post-text{
  a {
  	color:#0000FF;
  }
  }


  &.pushpin_off {
    .pushpin { color:#ccc }
  }
  &.pushpin_on {
    .pushpin { color:#3A87AD; i { font-size:18px; } }
  }

  .post_left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;

  }
  .post_right {
    position: absolute; 
    top: 0;
    right: 0;
    padding: 15px;
    li { list-style: none; }
    a.pushpin {
      font-size:16px;
      width:20px;
      height:20px;
      &:hover i { text-decoration: none; }

      position: absolute; 
      top: 15px;
      right: 35px;
    }



    .caret-down-holder {
      position: absolute;
      top: 17px;
      right: 55px;
      width: 12px;
      height: 20px;
      text-align: left;
      padding-right: 10px;

      a.caret-down {
        width:20px;
        height:20px;
        i { font-size:18px; }
        &:hover i { text-decoration: none;color:#333; }
      }
    }

    .pins {
      a {
        width: 20px;
        height:20px;
        display:block;

        text-align: center;
        font-size:11px;
        border: #fff solid 1px;
        margin-bottom:1px;
        &:hover {
          border: #ccc solid 1px;
          color:#666;
          font-weight:bold;
          text-decoration: none;
        }
      }
    }

    a.pinbutton {
      font-size: 20px;margin-top:20px;display:block;
    }
    a.pinbutton i {
      margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;
      font-size: 20px;
    }
    a.pinbutton:hover i {
      font-size:24px;
    }
  }

  .image {
    &, img {
      width: 75px;
      height: 75px;
    }

  }


  h5 {
    font-size:13px;
    i {
      font-size: 11px;
    }
    a {
      text-decoration: none;color: $green;
      &:hover { text-decoration: underline; }
    }
  }

  .top-actions {
    float:right;
    /*
    text-align:right;
    display:block;
    */
    font-size:11px;
    line-height:11px;
  }

  .post-info {
    margin: 5px 0;
    .time { clear:both;float:right;font-weight:bold;color:#ccc; }
    .btn { clear:both; }
    a:hover { text-decoration:none }
  }

  .files {
    ul { margin: 0; }
    li {
      margin: 0 0 10px; list-style: none;position:relative;
      &.hover a.file {
        background: lighten($green, 20%);
        color:#fff;
      }
    }
    a.file {
      color:#666;
      display: block;
      text-align: left;
      text-decoration: none;
      border-radius: 5px;
    }
    a.trash {
      color:#666;
      position: absolute;
      right: 5px;top:7px;
      right:0;top:0;height:100%;
      border-radius: 0 5px 5px 0;
      font-size:18px;
      display: none;
      -moz-box-sizing:    border-box;
      -webkit-box-sizing: border-box;
      box-sizing:         border-box;
      i { margin-top: 10px; }
    }
  }

  .replies {
    margin: 0px;
    border: 1px solid #dbdbdb;
    position: relative;
    .reply {
      padding: 1px 5px 5px 40px;

      font-size: 14px;
      position: relative;
      min-height: 20px;
      line-height: 20px;

      &:nth-child(odd) {
        background: #eee;
      }
      &:last-child {
        border: none;
      }



      h5 {
      font-weight:normal;
        a {
          text-decoration: none;color: $green;
          &:hover { text-decoration: underline; }
        }
        i {
          font-size:10px;
        }
      }

      .image {
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        &, img {
          width: 30px;
          height: 30px;
        }
      }

      .caret-down-holder {
        position: absolute;
        top: 0;
        right: 0;
        width: 12px;
        height: 20px;
        text-align: left;
        padding-right: 5px;

        a.caret-down {
          width:20px;
          height:20px;
          i { font-size:16px; }
          &:hover i { text-decoration: none;color:#333; }
        }
      }

    }
  }

  .reply_modal {
    width: 1000px;
    margin-left: -500px;
    form { margin: 0; }
    .modal-header h3 { color: $green; }
    .question_area {
      margin-bottom: 15px;
      position:relative;
      img {
        position:absolute;
      }
      .clear { 
        padding-left: 60px;
        min-height:60px;
        a { font-weight:bold;color:$green; }
      }

    }
    .answer_area {
      margin: 10px 0 0;
      position:relative;
      img {
        position:absolute;
      }

      p { 
        padding-left: 60px;
      }

      textarea {
        width: 100%;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */

        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */

        box-sizing: border-box;
        border: 1px solid #dbdbdb;
        border-radius: 0;
        padding: 5px;
        margin: 0;

        line-height: 16px;
        font-size: 14px;

        color: #646464;
        resize: none;
        height: 250px;
        &:focus {
          box-shadow: none;
          outline: none;
          border-color: #95C557;
        }
      }
    }
  }

}
