<div id="admincontainer">

<div class="headline3">Edit Email</div>

<div style="padding:6px;">

    <div style="margin-top:15px;">
        <%= render 'form' %>
    </div>

    <div style="text-align:left;">
        <%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %>
    </div>
</div>

</div>