<div style="font-weight:bold;font-size:14pt;margin:5px;padding:5px;text-align:center;">New Email</div>

<%= render 'form' %>

<%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %>

