

<p>Groups view </p>

<%= @group.inspect %>

<% if @group == 'college' %>
    <%=  content_tag :h2, 'Colleges'  %>
    <% @data.each do | d | %>
      <%=  content_tag :p, d.name  %>
    <% end %>
<% end %>





