
<div style="padding:10px;margin:6px;background-color:#fff;border: 2px solid gray;">

<div style="padding:10px;margin:6px;background-color:#fff;border: 2px solid gray;float:right;">
    <%= image_tag('campaign.jpg', :title => 'Campaign', :alt => 'Campaign') %>
</div>

<div><%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %></div>

<h3 style="border-bottom:1px dotted gray;">Email: <br />
  <%= @admin_newsletter.title %>
</h3>

<div>
Requirements:<br />
<p>A specific school (all user classes)<br />
 A pecific class at a specific school <br />
 A pecific user class(faculty/admin/student) at a specific school <br />
A student group/organization<br />
</p>

<div>Select elements that you want to send email:</div>

<div>
    <form action="/admin/" method="post" id="fselect">
    <select id="nsgroups">
        <option value="0" selected="selected">Select</option>
        <option value="college">Colleges</option>
        <option value="user">Kind of user</option>
        <option value="group">Groups</option>
        <option value="class">Classes</option>
    </select>
</form>
</div>

<div id="groups"></div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
      $("#fselect").click(function () {
        var text = $("#nsgroups option:selected").text();
        var value = $("#nsgroups option:selected").val();
        // alert("Selected text=" + text + " Selected value= " + value);
        // $("#groups").html("<!--  % = j(render('groups_admin_newsletters_path', :group_id => @groups)) % -->");
        $("#groups").load('/admin/newsletters/groups/'+value+'/'+<%= @admin_newsletter.id %>);
      });
    });
</script>


