
<h2 style="margin:5px;padding:7px;">Campaign Settings</b> </h1>

<%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %>

<p>This page will allow configure some settings like email headears, logo, unsubscription link and periodicity. </p>


<br />


