
<div style="padding:10px;margin:6px;background-color:#fff;border: 2px solid gray;">

<h3 style="border-bottom:1px dotted gray;">
  <%= @admin_newsletter.title %>
</h3>

<p>
    <%= raw @admin_newsletter.htmlemail %> 
</p>

<%= link_to image_tag('icon-edit.png', :title=>'Edit', :alt=>'Edit'), edit_admin_newsletter_path(@admin_newsletter) %> |

<%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %>

</div>
