<h2 style="margin:5px;paddibng:7px;">Emails Manager</h1>

<p>This action send a test email to the current user: <%= current_user.email %></p>


<%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %>


