
<div style="padding:10px;margin:30px 10px 60px 10px;background-color:#fff;border: 1px solid gray;width:100%;">
    <h2>Not yet done, just a mock up</h2>

    <div style="padding:12px;margin:6px;border:1px dotted gray;width:50%;text-align:left;">
     <h3>Last comments</h3>
      <ul>
         <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </div>

    <div style="padding:12px;margin:6px;border:1px dotted gray;width:50%;text-align:left;">
     <h3>Last shares</h3>
      <ul>
        <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
         <li><a href="#">Lorem ipsum</a></li>
     </ul>
    </div>

    <div style="padding:12px;margin:6px;border:1px dotted gray;width:50%;text-align:left;">
     <h3>Last registerd users</h3>
      <ul>
         <li><a href="#">Abel Lewsi</a></li>
         <li><a href="#">Ann Kleyborn</a></li>
         <li><a href="#">Joe Anapoulus</a></li>
         <li><a href="#">Louis Stallworth</a></li>
         <li><a href="#">Jessie McCarthy</a></li>
         <li><a href="#">Steve Reed</a></li>
      </ul>
    </div>

  
</div>
