<footer>
<div class="inner">
<a href="#" title="">Random</a>
<a href="#" title="">Items</a>
<a href="#" title="">Such As</a>
<a href="#" title="">FAQ</a>
<a href="#" title="">Terms of Service</a>
<a href="#" title="">Advertisng</a>

<span class="info">Copyright &copy; 2012 MindsMesh.com</span>
</div>
</footer>